/* Estilo aplicado à tabela como um todo. */
table.triangle-chart {
  width: 100%;
}

/* Estilo aplicado à células de cabeçalho. */
.triangle-chart td.header {
  color: rgb(255, 255, 255);
  background-color: rgb(22, 160, 133);
  text-align: center;
  padding: .5rem 1rem;
}

/* Estilo aplicado à células de valor. */
.triangle-chart td.value {
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  text-align: center;
  border: .1rem solid rgb(219, 219, 219);
}

/* Estilo aplicado à células de valor. */
.triangle-chart td.value:hover {
   background-color: #ffff00;
}

/* Estilo aplicado à células selecionadas. */
.triangle-chart td.selected {
  background-color: #ffff00;
}

.triangle-chart td.selected:hover {
  background-color: #ffff00;
}
